<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <%- include('./commons/_meta.ejs', {
        title: 'トップページ',
        description: 'ここはトップページです'
    }) -%>
</head>
<body>
</body>
</html>
